MONGO_URI="mongodb://localhost:27017/e-commerce"
PORT=3444
BASE_URL="http://localhost:3444/api/v1"
JWT_SECRET=e-commerce
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USERNAME="maitry.netsol@gmail.com"
SMTP_PASSWORD="crzufdmsgujdkrdj"
EMAIL_FROM="maitry.netsol@gmail.com"
